.content {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: 100vw;
  margin-top: var(--navbar-height);

  > * {
    height: 100%;
    position: relative;
    display: block;
  }
}
