.menu {
  position: absolute;
  box-sizing: border-box;
  width: 198px;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--sidebar-bg);
  margin-right: 2px;

  .menu-item {
    height: 30px;
    padding: 8px 16px;
    border-bottom: 1px solid var(--sidebar-item-border);
    color: var(--sidebar-active-color);
    display: flex;
    align-items: center;
    transition: background-color 200ms linear;

    &.active {
      background-color: var(--sidebar-active-bg);
    }
  }
}

.content {
  margin-left: 200px;
  color: white;
  position: relative;
  height: 100%;
  overflow-y: auto;

  .band {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    &.b1 { background: var(--band-1); }
    &.b2 { background: var(--band-2); }
    &.b3 { background: var(--band-3); }
    &.b4 { background: var(--band-4); }
    &.b5 { background: var(--band-5); }

    app-hint-arrow {
      position: absolute;
      bottom: 100px;
    }

    span {
      margin-top: -30px;
      font-size: 20px;
    }
  }
}
