<div class="menu">
  <div class="menu-item" scrollListener="item1" activeClass="active">Target 1</div>
  <div class="menu-item" scrollListener="item2" activeClass="active">Target 2</div>
  <div class="menu-item" scrollListener="item3" activeClass="active">Target 3</div>
  <div class="menu-item" scrollListener="item4" activeClass="active">Target 4</div>
  <div class="menu-item" scrollListener="item5" activeClass="active">Target 5</div>
</div>
<div class="content" scrollContainer>
  <div class="band b1" scrollTarget="item1">
    <span>Target 1</span>
    <app-hint-arrow class="bounce"></app-hint-arrow>
  </div>
  <div class="band b2" scrollTarget="item2"><span>Target 2</span></div>
  <div class="band b3" scrollTarget="item3"><span>Target 3</span></div>
  <div class="band b4" scrollTarget="item4"><span>Target 4</span></div>
  <div class="band b5" scrollTarget="item5"><span>Target 5</span></div>
</div>
